/* Sakura.css v1.3.1
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura/
 */
/* Body */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif; 
}

img{
  width: 30%;
  float: right;
  margin-right: 10px;
  alt: "A shopping cart icon"
}

.button, .loginButton, input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  width: 10%;
  height: 75%;
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 2%;
  transition: 0.3s;
  border-radius: 20px;
  font-family: inherit;
  font-size: 15px;
  background-color: #2F80BA;
  color: white;
  border: none;
  cursor: pointer;
  box-sizing: border-box; }
  .button[disabled], button[disabled], input[type="submit"][disabled], input[type="reset"][disabled], input[type="button"][disabled] {
    cursor: default;
    opacity: .5; }
  .button:focus:enabled, .button:hover:enabled, button:focus:enabled, button:hover:enabled, input[type="submit"]:focus:enabled, input[type="submit"]:hover:enabled, input[type="reset"]:focus:enabled, input[type="reset"]:hover:enabled, input[type="button"]:focus:enabled, input[type="button"]:hover:enabled {
    background-color: #7FB3D5;
    border-color: #982c61;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    color: #f9f9f9;
    outline: 0; }

#addCat{
  float: right;
}

#setMenu{
  float: left;
}

.greeting{
  margin-top: 15px;
  margin-left: 5.75%;
  color: black;
  font-weight: bold;
}

.fa-cog{
  color:black;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  backdrop-filter: "blur(10px)";
  background-color: rgba(255, 255, 255, 0.3);
  display:flex;
  justify-content: space-between;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

/* The dropdown container */
.dropdown{
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn, .saveBtn{
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 20px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0px; /* Important for vertical align on mobile phones */
}


/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn .setDrop:hover .settings{
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

#rightContent{
  right:0;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: white;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.05s;
  width: 150px;
  height: 200px;
  resize: both;
  position: absolute;
  z-index: 9;
  overflow: auto;
  margin-top: 0%;
  border-radius: 5px;
  background-color: white;
  
}

#bgColorCard{
  width: 300px;
  height: 500px;
}


#setbgcolor, #reset{
  width: 150px;
  margin-left: 25%;
  margin-top: 2%;
}

#closeBtn, #cardCloseBtn{
  background-color: transparent;
  margin-left: 80%;
}

.fa-times-circle{
  color: black;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding-bottom: 40px;
  position: absolute;
  z-index: 3;

}


#describe{
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 0px;
  text-align: right;
  margin-right: 45px;
}

body {
  font-size: 1.8rem;
  line-height: 1.618;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  color: white;
  background-color: white;
  padding: 0px; }

@media (max-width: 684px) {
  body {
    font-size: 1.53rem; } }

@media (max-width: 382px) {
  body {
    font-size: 1.35rem; } }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-weight: 700;
  margin-top: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word; }

h1 {
  font-size: 2.35em; }

h2 {
  font-size: 2.00em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; 
  font-weight: 400;
  font-style: italic;
  color: black;
}

p{
  color: black;
  text-align: center;
}

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

small, sub, sup {
  font-size: 75%; }

hr {
  border-color: #1d7484; }

a, .backgroundBtn {
  text-decoration: none;
  color: #1d7484;
 }

  a:hover {
    color: #982c61;
    border-bottom: 2px solid #4a4a4a; }
  a:visited {
    color: #144f5a; }

ul {
  padding-left: 1.4em;
  margin-top: 0px;
  margin-bottom: 2.5rem; }

li {
  margin-bottom: 0.4em;
  color: black;
}

blockquote {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 0.8em;
  border-left: 5px solid #1d7484;
  margin-bottom: 2.5rem;
  background-color: #f1f1f1; }

blockquote p {
  margin-bottom: 0; }

img {
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 2.5rem; }

/* Pre and Code */
pre {
  background-color: #f1f1f1;
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 2.5rem; }

code {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: #f1f1f1;
  white-space: pre-wrap; }

pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre; }

/* Tables */
table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse; }

td, th {
  padding: 0.5em;
  border-bottom: 1px solid #f1f1f1; }

/* Buttons, forms and input */
input, textarea {
  border: 1px solid #4a4a4a; }
  input:focus, textarea:focus {
    border: 1px solid #1d7484; }

textarea {
  width: 100%; }

#picker {
  margin-left: 25%;
  padding-bottom: 10px;
}

form {
  background-color: #eee;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  padding-bottom: 0em;
  max-width: 40ch;
  
  height: 10ch;
}

#todoform {
  padding-bottom: 2em;
}

form button {
  background-color: #1d7484;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  margin-left: 5em;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

form button:hover {
  background-color: lavender;
}

textarea, select, input {
  color: #4a4a4a;
  padding: 6px 10px;
  background-color: white;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
  textarea:focus, select:focus, input:focus {
    border: 1px solid #1d7484;
    outline: 0; }

::placeholder{
  font-style: italic;
}

input[type="checkbox"]:focus {
  outline: 1px dotted #1d7484; }

label, legend, fieldset {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

footer {
  margin-top: 3em;
  padding-top: 1em;
  border-top: 1px solid lightgrey;
  font-size: 12px;
}

#cardsheader {
  padding: 0px;
  cursor: move;
  color: black;
  z-index: 10;
  background-color: #d3d3d3;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}